COMPOSE_PROJECT_NAME=noe4
DOMAIN=noe4.tudominio.com
PHP_USER=1000:1000

APP_ENV=dev
APP_SECRET=CHANGE_ME

DB_VERSION=10.11.0-MariaDB
DB_NAME=noe4
DB_USER=noe4_user
DB_PASSWORD=CHANGE_ME
DB_ROOT_PASSWORD=CHANGE_ME

MAILER_DSN=null://null

GOOGLE_MAPS_API_KEY=CHANGE_ME
GOOGLE_MAPS_MAP_ID=CHANGE_ME
