/*
                                __      _ _                   _
                               / _|    | (_)                 | |
 _ __ ___   __ _ _ __ ___ ___ | |_ ___ | |_  ___   _ __   ___| |_
| '_ ` _ \ / _` | '__/ __/ _ \|  _/ _ \| | |/ _ \ | '_ \ / _ \ __|
| | | | | | (_| | | | (_| (_) | || (_) | | | (_) || | | |  __/ |_
|_| |_| |_|\__,_|_|  \___\___/|_| \___/|_|_|\___(_)_| |_|\___|\__|

*/

/* COMMON CLASSES */
.break { clear:both; }

/* MENU */
#tabs { margin:40px 0 0 150px; }
#tabs ul { list-style:none; }
#tabs ul li { display:inline; float:left; margin-bottom:20px; }

/* :first-child pseudo selector with rounded top left corner */
#tabs ul li:first-child a { -moz-border-radius-topleft: 12px; -webkit-border-top-left-radius:12px; }

/* :last-child pseudo selector with rounded top right corner */
#tabs ul li:last-child a { -moz-border-radius-topright: 12px; -webkit-border-top-right-radius:12px; }

/* background color set to RGBA, with opacity on 0.3 and also using text-shadow */
#tabs ul li a { padding:20px; background: rgb(255,138,30); text-decoration: none; color: black; text-shadow: #eee 0px 0px 2px; }

/* hover state shows a linear gradient and opacity it brought down to 0.9 and also shows a very slight grey gradient on top */
#tabs ul li a:hover { -moz-box-shadow: 0 -5px 10px #777; -webkit-box-shadow: 0 -5px 10px #777;
	background: -webkit-gradient(
		linear, right bottom, left top, color-stop(0, rgb(237,227,112)), color-stop(0.72, rgb(255,173,10))) !important;
	background: -moz-linear-gradient(
		right bottom, rgb(237,227,112) 0%, rgb(255,173,10) 72%) !important;
	background-color:rgb(255,173,10) !important;
	-moz-opacity:.90; filter:alpha(opacity=90); opacity:.90; }

/* another RGBA background, now with an opacity of 0.8 */
#tabs ul li a.active { background: rgba(255,138,30,0.8) !important; }

/* main contents with RGBA background (same colour as active tab) and three rounded corners */
#main { clear:both; background: rgba(255,138,30,0.8); width:500px; margin-left:150px;
	-moz-border-radius-topright: 12px; -moz-border-radius-bottomright: 12px; -moz-border-radius-bottomleft: 12px;
	-webkit-border-top-right-radius:12px; -webkit-border-bottom-right-radius:12px; -webkit-border-bottom-left-radius:12px;}
